// ._background.scss

.sc-color-light{
	color:#333;
	text-shadow:none;
}

.sc-color-chocolate-light{
	border-color:$color-border-chocolate-light;
	background:$color-chocolate-light;
	@extend .sc-color-light;
}

.sc-color-worm-light{
	border-color:$color-border-worm-light;
	background:$color-worm-light;
	@extend .sc-color-light;
}

.sc-color-salem-light{
	border-color:$color-border-salem-light;
	background:$color-salem-light;
	@extend .sc-color-light;
}


.sc-color-gold-light{
	border-color:$color-border-gold-light;
	background:$color-gold-light;
	@extend .sc-color-light;
}


.sc-color-denim-light{
	border-color:$color-border-denim-light;
	background:$color-denim-light;
	@extend .sc-color-light;
}


.sc-color-heart-light{
	border-color:$color-border-heart-light;
	background:$color-heart-light;
	@extend .sc-color-light;
}


.sc-color-rust-light{
	border-color:$color-border-rust-light;
	background:$color-rust-light;
	@extend .sc-color-light;
}


.sc-color-brick-light{
	border-color:$color-border-brick-light;
	background:$color-brick-light;
	@extend .sc-color-light;
}

