// bullet.scss

.sc-bullet{

	display:inline-block;
	padding:0 5px 0 15px;
	font-weight:500;
	vertical-align:top;
	position:relative;


	&:before{
		content:"";
		width:5px;
		height:10px;
		margin-top:-4px;
		position:absolute;
		left:0;
		top:50%;
		background:$color-bullet;
		color:$color-bullet;
	}
	
	&.sc-bullet-circle{
		&:before{
			width:6px;
			height:6px;
			border-radius:50px;
			margin-top:-1px;
		}
	}
	
	&.sc-bullet-star{
		&:before{
			content:"*";
			width:auto;
			height:auto;
			@include font-size(15);
			background:none;
			margin-top:-7px;
		}
	}
	


}

