// button.scss

button{
	font-family:$base-font-family;
	//letter-spacing:-0.03em;
}
button::-moz-focus-inner {
	padding:0 !important;
	border:0 none !important;
	outline:0 none !important;

}

.sc-btn{
	display:inline-block;
	outline:none;
	border:none;
	background:transparent;
	cursor:pointer;
	
	vertical-align:middle;
	border:1px solid $color-border-base;
	border-radius:$base-border-radius;
	background:$color-base;
	color:#fff;
	text-align:center;

	@include font-size(15);
	line-height:1;


	&>span{
		display:block;
		padding:8px 15px;
	}
	&:hover{
	//&>span{
		box-shadow:inset 0 1px 50px rgba(0,0,0,.15),0 1px 1px rgba(0,0,0,.0);
	//}
	}
	
	&-xsmall{
		@include font-size(11);
		&>span{
			padding:4px 10px;
			
		}
	}
	
	&-small{
		@include font-size(13);
		&>span{
			padding:5px 10px;
			
		}
	}
	
	&-large{
		@include font-size(17);
		&>span{
			padding:10px 20px;
			
		}
	}
	&-xlarge{
		@include font-size(21);
		&>span{
			padding:12px 22px;
			
		}
	}
	&-xxlarge{
		@include font-size(25);
		&>span{
			padding:15px 25px;
			
		}
	}

	&.sc-btn-nude{
		//&>span{
			background:#fff;
			color:$color-active-base;
			text-shadow:none;
			box-shadow:none;
		//	@include background-gradient(#fff,#e1e1e1);
		//}
		&:hover{
			//&>span{
				background:#fff;;
			//}
		}
	}
}

/* group box */
[class*=sc-group]{
	>button{
		//span{
			border-radius:0;
			//outline:1px solid #fff;
		//}
		&:first-child{
			//span{
				border-top-left-radius:$base-border-radius;
				border-bottom-left-radius:$base-border-radius;
				border-right:none;
			//}
		}
		&:last-child{
			//span{
				border-top-right-radius:$base-border-radius;
				border-bottom-right-radius:$base-border-radius;
				border-left:none;
			//}
		}
	}
}

.sc-group-vertical{
	>button{
		float:none;
		display:block;
		//span{
			border-radius:0;
		//}
		&:first-child{
			//span{
				border-top-left-radius:$base-border-radius;
				border-top-right-radius:$base-border-radius;
				border-bottom-left-radius:0;
				border-right:1px solid $color-border-base;
				border-bottom:none;
			//}
			&:hover{
				//span{
					border-right:1px solid $color-active-base;
				//}
			}
		}
		&:last-child{
			//span{
				border-top-right-radius:0;
				border-bottom-right-radius:$base-border-radius;
				border-bottom-left-radius:$base-border-radius;
				border-left:1px solid $color-border-base;
				border-top:none;
			//}
			&:hover{
			//span{
				border-left:1px solid $color-active-base;
			//}
			}
		}
	}
}

[class*=sc-color-]{
	color:#fff;
	text-shadow:1px 1px 1px #666;
	span{
		//color:#fff;
		//text-shadow:1px 1px 1px #666;
	}

}

.sc-color-chocolate{
	border-color:$color-border-chocolate;
	background:$color-chocolate;
	&.sc-btn-nude{
		color:$color-chocolate;
		&:hover{
			color:$color-active-chocolate;
		}
	}

}

.sc-color-worm{
	border-color:$color-border-worm;
	background:$color-worm;
	&.sc-btn-nude{
			color:$color-worm;
		&:hover{
			color:$color-active-worm;
		}
	}
}

.sc-color-salem{
	border-color:$color-border-salem;
	background:$color-salem;
	&.sc-btn-nude{
		color:$color-salem;
		&:hover{
			color:$color-active-salem;
		}
	}
}


.sc-color-gold{
	border-color:$color-border-gold;
	background:$color-gold;
	&.sc-btn-nude{
		color:$color-gold;
		&:hover{
			color:$color-active-gold;
		}
	}
}

.sc-color-denim{
	border-color:$color-border-denim;
	background:$color-denim;
	&.sc-btn-nude{
			color:$color-denim;
		&:hover{
			color:$color-active-denim;
		}
	}
}

.sc-color-heart{
	border-color:$color-border-heart;
	background:$color-heart;
	&.sc-btn-nude{
		color:$color-heart;
		&:hover{
			color:$color-active-heart;
		}
	}
}

.sc-color-rust{
	border-color:$color-border-rust;
	background:$color-rust;
	&.sc-btn-nude{
		color:$color-rust;
		&:hover{
			color:$color-active-rust;
		}
	}
}

.sc-color-brick{
	border-color:$color-border-brick;
	background:$color-brick;
	&.sc-btn-nude{
		color:$color-brick;
		&:hover{
			color:$color-active-brick;
		}
	}
}


.sc-color-chocolate-pastel{
	border-color:$color-border-chocolate-pastel;
	background:$color-chocolate-pastel;
	&.sc-btn-nude{
		color:$color-chocolate-pastel;
		&:hover{
			color:$color-active-chocolate-pastel;
		}
	}

}

.sc-color-worm-pastel{
	border-color:$color-border-worm-pastel;
	background:$color-worm-pastel;
	&.sc-btn-nude{
			color:$color-worm-pastel;
		&:hover{
			color:$color-active-worm-pastel;
		}
	}
}

.sc-color-salem-pastel{
	border-color:$color-border-salem-pastel;
	background:$color-salem-pastel;
	&.sc-btn-nude{
		color:$color-salem-pastel;
		&:hover{
			color:$color-active-salem-pastel;
		}
	}
}


.sc-color-gold-pastel{
	border-color:$color-border-gold-pastel;
	background:$color-gold-pastel;
	&.sc-btn-nude{
		color:$color-gold-pastel;
		&:hover{
			color:$color-active-gold-pastel;
		}
	}
}

.sc-color-denim-pastel{
	border-color:$color-border-denim-pastel;
	background:$color-denim-pastel;
	&.sc-btn-nude{
			color:$color-denim-pastel;
		&:hover{
			color:$color-active-denim-pastel;
		}
	}
}

.sc-color-heart-pastel{
	border-color:$color-border-heart-pastel;
	background:$color-heart-pastel;
	&.sc-btn-nude{
		color:$color-heart-pastel;
		&:hover{
			color:$color-active-heart-pastel;
		}
	}
}

.sc-color-rust-pastel{
	border-color:$color-border-rust-pastel;
	background:$color-rust-pastel;
	&.sc-btn-nude{
		color:$color-rust-pastel;
		&:hover{
			color:$color-active-rust-pastel;
		}
	}
}

.sc-color-brick-pastel{
	border-color:$color-border-brick-pastel;
	background:$color-brick-pastel;
	&.sc-btn-nude{
		color:$color-brick-pastel;
		&:hover{
			color:$color-active-brick-pastel;
		}
	}
}


