// label.scss

.sc-label{
	@include clr();
	>*{
		float:left;
		margin-bottom:0;
	}
	
	span{
			padding:0 5px 0 8px;
		&:first-child{
			color:$color-oldrose;
			font-weight:bold;
			border-left:5px solid $color-oldrose;
		}
	
		
	}
}