// logo.scss

// logo
.sc-logo{
	//margin:16px 0 0 15px;
	padding:0 17px 15px;
	position:relative;
	text-align:center;
	z-index:1;
	h1{
		@include font-size(20);
	}
	
	img{
		width:181px;
	}
}

// logo vertical
.sc-logo-vertical{
    @include min-screen($screen-medium){
           float:left;
           text-align:center;
       }
}