// _container.scss

$inner-width:850px;

/* container */
.sc-outer{
    padding:0 20px;
    @include min-screen($screen-medium){
        padding:0;
    }
    &:nth-child(2n-1){
       background:none;
    }
}

.sc-inner{
	max-width:$inner-width;
}
