// layout.scss


[class*=sc-col] {
	//border:1px solid #eee;
}

.sc-inner{
	display: block;
    padding: 20px 0;
    border: 1px solid #d2d2d2;
    text-align: center;
    background: #F1F1F1;
}

#header{
	@include min-screen($screen-medium){
		padding-top:50px;
		padding-bottom:30px;
	}
	
}

#footer{
	//padding:50px 0;
	background:#eee;
	@include font-size(12);
	>*{
		max-width:$max-width;
	}
}


