// _color.scss

// base color
$base-font-color:#000;
$base-fill-color:#BA365C;
$base-border-color:#e1e1e8;

// form 
$base-form-border-color:#cacaca;

// bullet
$color-bullet:#BC376A;

// nav
$color-nav-active:#BC376A;
// table
$color-table-border:#e1e1e1;
$color-table-th:#666;
$color-table-td-hover:#FDFFF4;
$color-table-border-top:#bdbdbd;

$color-table-color:#F6955E;
$color-table-thead-background:#BC376A;

// image
$color-image:#AC5313;
$color-image-background:#e1e1e1;
$color-image-outline:#DEDEDE;

// selectbox
$color-select:#BC376A;
$color-select-background:#BC376A;
$color-select-border:#BC376A;

// modal
$color-modal:#AC5313;

// paging
$color-paging:#E68AA2;
$color-paging-hover:#BC376A;
$color-paging-fill:#ccc;

//////////////////////////////////////////////////////////////////////////
// color variation
//////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////
// base
//////////////////////////////////////////////////////////////////////////
$color-base:#BC376A;
$color-border-base:#ad265a;
$color-active-base:#a92f5e;

//////////////////////////////////////////////////////////////////////////
// chocolate
//////////////////////////////////////////////////////////////////////////
$color-chocolate:#E16A1B;
$color-border-chocolate:#bf5814;
$color-active-chocolate:#E16A1B;

//////////////////////////////////////////////////////////////////////////
// worm
//////////////////////////////////////////////////////////////////////////
$color-worm:#79BB16;
$color-border-worm:#6ea916;
$color-active-worm:#79BB16;

//////////////////////////////////////////////////////////////////////////
// salem
//////////////////////////////////////////////////////////////////////////
$color-salem:#129446;
$color-border-salem:#0f7d3b;
$color-active-salem:#129446;

//////////////////////////////////////////////////////////////////////////
// denim
//////////////////////////////////////////////////////////////////////////
$color-denim:#1679BB;
$color-border-denim:#0f639a;
$color-active-denim:#1679BB;

//////////////////////////////////////////////////////////////////////////
// Heart
//////////////////////////////////////////////////////////////////////////
$color-heart:#5929a2;
$color-border-heart:#451292;
$color-active-heart:#5929a2;

//////////////////////////////////////////////////////////////////////////
// gold
//////////////////////////////////////////////////////////////////////////
$color-gold:#deb41e;
$color-border-gold:#c7a631;
$color-active-gold:#deb41e;

//////////////////////////////////////////////////////////////////////////
// rust
//////////////////////////////////////////////////////////////////////////
$color-rust:#AC5313;
$color-border-rust:#843d0b;
$color-active-rust:#AC5313;

//////////////////////////////////////////////////////////////////////////
// brick
//////////////////////////////////////////////////////////////////////////
$color-brick:#C12D1E;
$color-border-brick:#8c2218;
$color-active-brick:#C12D1E;


//////////////////////////////////////////////////////////////////////////
// chocolate-pastel
//////////////////////////////////////////////////////////////////////////
$color-chocolate-pastel:#8e684e;
$color-border-chocolate-pastel:#825a3d;
$color-active-chocolate-pastel:#8e684e;

//////////////////////////////////////////////////////////////////////////
// worm-pastel
//////////////////////////////////////////////////////////////////////////
$color-worm-pastel:#7e9c4f;
$color-border-worm-pastel:#6f8e3e;
$color-active-worm-pastel:#7e9c4f;

//////////////////////////////////////////////////////////////////////////
// salem-pastel
//////////////////////////////////////////////////////////////////////////
$color-salem-pastel:#46795b;
$color-border-salem-pastel:#356f4d;
$color-active-salem-pastel:#46795b;

//////////////////////////////////////////////////////////////////////////
// denim-pastel
//////////////////////////////////////////////////////////////////////////
$color-denim-pastel:#456884;
$color-border-denim-pastel:#345b79;
$color-active-denim-pastel:#456884;

//////////////////////////////////////////////////////////////////////////
// Heart-pastel
//////////////////////////////////////////////////////////////////////////
$color-heart-pastel:#6b607b;
$color-border-heart-pastel:#655879;
$color-active-heart-pastel:#6b607b;

//////////////////////////////////////////////////////////////////////////
// gold-pastel
//////////////////////////////////////////////////////////////////////////
$color-gold-pastel:#ab9c68;
$color-border-gold-pastel:#94875a;
$color-active-gold-pastel:#ab9c68;

//////////////////////////////////////////////////////////////////////////
// rust-pastel
//////////////////////////////////////////////////////////////////////////
$color-rust-pastel:#7b6657;
$color-border-rust-pastel:#6f503a;
$color-active-rust-pastel:#7b6657;

//////////////////////////////////////////////////////////////////////////
// brick-pastel
//////////////////////////////////////////////////////////////////////////
$color-brick-pastel:#804f4a;
$color-border-brick-pastel:#6b3833;
$color-active-brick-pastel:#804f4a;


//////////////////////////////////////////////////////////////////////////
// chocolate-light
//////////////////////////////////////////////////////////////////////////
$color-chocolate-light:#fff5ef;
$color-border-chocolate-light:#f5e0d1;
$color-active-chocolate-light:#fff5ef;

//////////////////////////////////////////////////////////////////////////
// worm-light
//////////////////////////////////////////////////////////////////////////
$color-worm-light:#e7efdb;
$color-border-worm-light:#c3da9f;
$color-active-worm-light:#e7efdb;

//////////////////////////////////////////////////////////////////////////
// salem-light
//////////////////////////////////////////////////////////////////////////
$color-salem-light:#def3e6;
$color-border-salem-light:#b4dec5;
$color-active-salem-light:#def3e6;

//////////////////////////////////////////////////////////////////////////
// denim-light
//////////////////////////////////////////////////////////////////////////
$color-denim-light:#e5f1fb;
$color-border-denim-light:#bcdcf5;
$color-active-denim-light:#e5f1fb;

//////////////////////////////////////////////////////////////////////////
// Heart-light
//////////////////////////////////////////////////////////////////////////
$color-heart-light:#f3eefb;
$color-border-heart-light:#dfd0f5;
$color-active-heart-light:#f3eefb;

//////////////////////////////////////////////////////////////////////////
// gold-light
//////////////////////////////////////////////////////////////////////////
$color-gold-light:#fff9e2;
$color-border-gold-light:#ece2be;
$color-active-gold-light:#fff9e2;

//////////////////////////////////////////////////////////////////////////
// rust-light
//////////////////////////////////////////////////////////////////////////
$color-rust-light:#f5e7de;
$color-border-rust-light:#f3cfb5;
$color-active-rust-light:#f5e7de;

//////////////////////////////////////////////////////////////////////////
// brick-light
//////////////////////////////////////////////////////////////////////////
$color-brick-light:#fff2f1;
$color-border-brick-light:#ffdedb;
$color-active-brick-light:#fff2f1;



