// _color.scss

// base color
$base-font-color:#000;
$base-fill-color:#BA365C;
$base-border-color:#e1e1e8;

// form 
$base-form-border-color:#cacaca;

// bullet
$color-bullet:#BC376A;

// nav
$color-nav-active:#BC376A;
// table
$color-table-border:#e1e1e1;
$color-table-th:#666;
$color-table-td-hover:#FDFFF4;
$color-table-border-top:#bdbdbd;

$color-table-color:#F6955E;
$color-table-thead-background:#BC376A;

// image
$color-image:#AC5313;
$color-image-background:#e1e1e1;
$color-image-outline:#DEDEDE;

// selectbox
$color-select:#BC376A;
$color-select-background:#BC376A;
$color-select-border:#BC376A;

// modal
$color-modal:#AC5313;

// paging
$color-paging:#E68AA2;
$color-paging-hover:#BC376A;
$color-paging-fill:#ccc;

//////////////////////////////////////////////////////////////////////////
// color variation
//////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////
// base
//////////////////////////////////////////////////////////////////////////
$color-base:#BC376A;
$color-border-base:#ad265a;
$color-active-base:#a92f5e;


//////////////////////////////////////////////////////////////////////////
// chocolate
//////////////////////////////////////////////////////////////////////////
$color-chocolate:#8e684e;
$color-border-chocolate:#825a3d;
$color-active-chocolate:#8e684e;

//////////////////////////////////////////////////////////////////////////
// green
//////////////////////////////////////////////////////////////////////////
$color-green:#7e9c4f;
$color-border-green:#6f8e3e;
$color-active-green:#7e9c4f;

//////////////////////////////////////////////////////////////////////////
// salem
//////////////////////////////////////////////////////////////////////////
$color-salem:#46795b;
$color-border-salem:#356f4d;
$color-active-salem:#46795b;

//////////////////////////////////////////////////////////////////////////
// denim
//////////////////////////////////////////////////////////////////////////
$color-denim:#456884;
$color-border-denim:#345b79;
$color-active-denim:#456884;

//////////////////////////////////////////////////////////////////////////
// Heart
//////////////////////////////////////////////////////////////////////////
$color-heart:#6b607b;
$color-border-heart:#655879;
$color-active-heart:#6b607b;

//////////////////////////////////////////////////////////////////////////
// gold
//////////////////////////////////////////////////////////////////////////
$color-gold:#ab9c68;
$color-border-gold:#94875a;
$color-active-gold:#ab9c68;

//////////////////////////////////////////////////////////////////////////
// rust
//////////////////////////////////////////////////////////////////////////
$color-rust:#7b6657;
$color-border-rust:#6f503a;
$color-active-rust:#7b6657;

//////////////////////////////////////////////////////////////////////////
// brick
//////////////////////////////////////////////////////////////////////////
$color-brick:#804f4a;
$color-border-brick:#6b3833;
$color-active-brick:#804f4a;

//////////////////////////////////////////////////////////////////////////
// night
//////////////////////////////////////////////////////////////////////////
$color-night:#363636;
$color-border-night:#000;
$color-active-night:#242424;

//////////////////////////////////////////////////////////////////////////
// blade
//////////////////////////////////////////////////////////////////////////
$color-blade:#bc3737;
$color-border-blade:#a52b2b;
$color-active-blade:#a52b2b;


[class*=sc-color-]{
	color:#fff;
	//text-shadow:1px 1px 1px #666;
	span{
		color:#fff;
		opacity:.8;
		//text-shadow:1px 1px 1px #666;
	}
	
	a,a:link,a:hover,a:visited,a:active{
		color:#fff;
		opacity:.8;
		&:hover{
			color:#fff;
			opacity:1;
		}
	}
}


.sc-color-chocolate{
	border-color:$color-border-chocolate !important;
	background:$color-chocolate !important;
	&.sc-btn-nude{
		color:$color-chocolate !important;
		&:hover{
			//color:$color-active-chocolate !important;
		}
	}

}

.sc-color-green{
	border-color:$color-border-green !important;
	background:$color-green !important;
	&.sc-btn-nude{
			color:$color-green !important;
		&:hover{
			//color:$color-active-green !important;
		}
	}
}

.sc-color-salem{
	border-color:$color-border-salem !important;
	background:$color-salem !important;
	&.sc-btn-nude{
		color:$color-salem !important;
		&:hover{
			//color:$color-active-salem !important;
		}
	}
}


.sc-color-gold{
	border-color:$color-border-gold !important;
	background:$color-gold !important;
	&.sc-btn-nude{
		color:$color-gold !important;
		&:hover{
			//color:$color-active-gold !important;
		}
	}
}

.sc-color-denim{
	border-color:$color-border-denim !important;
	background:$color-denim !important;
	&.sc-btn-nude{
			color:$color-denim !important;
		&:hover{
			//color:$color-active-denim !important
		}
	}
}

.sc-color-heart{
	border-color:$color-border-heart !important;
	background:$color-heart !important;
	&.sc-btn-nude{
		color:$color-heart !important;
		&:hover{
			color:$color-active-heart !important;
		}
	}
}

.sc-color-rust{
	border-color:$color-border-rust !important;
	background:$color-rust !important;
	&.sc-btn-nude{
		color:$color-rust !important;
		&:hover{
			//color:$color-active-rust !important;
		}
	}
}

.sc-color-brick{
	border-color:$color-border-brick !important;
	background:$color-brick !important;
	&.sc-btn-nude{
		color:$color-brick !important;
		&:hover{
			//color:$color-active-brick !important;
		}
	}
}

.sc-color-blade{
	border-color:$color-border-blade !important;
	background:$color-blade !important;
	&.sc-btn-nude{
		color:$color-blade !important;
		&:hover{
			//color:$color-active-blade !important;
		}
	}
}

.sc-color-night{
	border-color:$color-border-night !important;
	background:$color-night !important;
	color:#CEAE36;
	span{
		color:#CEAE36;
	}
	&.sc-btn-nude{
		color:$color-night !important;
		&:hover{
			//color:$color-active-night !important;
		}
	}
}

