// _variables.scss

/* screen */
$screen-1200:1200px;
$screen-1024:1000px;
$screen-980:980px;
$screen-768:768px;
$screen-640:640px;
$screen-480:480px;

$screen-xlarge:1200px;
$screen-large:1000px;
$screen-regular:980px;
$screen-medium:768px;
$screen-small:640px;
$screen-xsmall:480px;

$max-width:980px;

/* font */
$border-radius-fm:3px;
$base-font-form:"나눔고딕","Nanum Gothic",Dotum,Helvetica,Arial,Sans-serif;
$base-font-family:"나눔고딕","Nanum Gothic",Dotum,Helvetica,Arial,Sans-serif;
$base-font-size:14px;
$base-font-weight:400;
$base-border-radius:5px;

$rembase:10;

$breakpoints: (
	small:480px,
	medium:640px,
	large:1024px
);

$p-font-sizes: (
	null:13,
	small:14,
	medium:15,
	large:16
);

$h1-font-sizes: (
	null:28,
	small:31,
	medium:33,
	large:36
);