// _thumb-list.scss

.sc-thumb-list{
	&>*{
		padding:0;
		border-right:1px solid #fff;
		&:last-child{
			border-right:none;
		}
	}
	
	.sc-paragraph{
		padding:20px 10px;
		//line-height:21px;
	}
	
	// vertical
	&.sc-thumb-list-horizontal{
		>*{
			@include clr();
		}
		.sc-image{
			float:left;
			width:40%;
		}
		.sc-paragraph{
			float:left;
			width:55%;
			padding: 0 0 0 5%;
		}
		
	}
}

.sc-row-gap.sc-thumb-list{
	&>*{
		border-right:none;
	}
}