// _color.scss

// base color
$base-font-color:#000;
$base-fill-color:#BA365C;
$base-border-color:#e1e1e8;

// form 
$base-form-border-color:#cacaca;

// bullet
$color-bullet:#BC376A;

// nav
$color-nav-active:#BC376A;
// table
$color-table-border:#e1e1e1;
$color-table-th:#666;
$color-table-td-hover:#FDFFF4;
$color-table-border-top:#bdbdbd;

$color-table-color:#F6955E;
$color-table-thead-background:#BC376A;

// button
$color-button:#BC376A;
$color-button-active:#E68AA2;
$color-button-border:#BC376A;

// image
$color-image:#AC5313;
$color-image-background:#e1e1e1;
$color-image-outline:#DEDEDE;

// selectbox
$color-select:#BC376A;
$color-select-background:#BC376A;
$color-select-border:#BC376A;

// modal
$color-modal:#AC5313;

// paging
$color-paging:#E68AA2;
$color-paging-hover:#BC376A;
$color-paging-fill:#ccc;