// _container.scss

$inner-width:980px;

/* container */
.sc-outer{
    padding:30px 20px;
    @include min-screen($screen-medium){
        padding:60px 0 80px
    }
    &:nth-child(2n-1){
       background:#f5f5f5;
    }
}

.sc-inner{
	max-width:$inner-width;
}
