@CHARSET "UTF-8";


/* doc */
.sc-doc{
	
	/* clipboard */
	.sc-clipboard{
		position:relative;	
	}
	.sc-clipboard-data{
		
	}
	.sc-clipboard-btn{
		position:absolute;
		right:0;
		top:0;
		font-style:italic;
		font-weight:bold;
		border-radius:50px;
		@include font-size(10);
		
	}

}

