@CHARSET "UTF-8";

/* variables */
$docs-base-border-color:#e1e1e8;
$docs-base-label-bgcolor:#795da3;

/* doc */
.sc-doc{
	
	/* common */
	h1,h2,h3,h4,h5{
		//padding-bottom:0;
		//font-weight:400;
		//border-bottom:none;
	}
	
	.sc-header-top{
		width:100%;
		float:none;
		text-align:center;
		background:#fff;
		position:fixed;
		z-index:498;
		h1{
			max-width:$max-width;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			@include font-size(40);
			color:#BF4216;
			a{
				color:#BF4216
			}
		}
		.sc-header-describe{
			color:#929292;
		}
	}

	.sc-container{
		margin-bottom:25px;
	}
	
	
	
	hr{
		margin:30px 0;
		border:none;
		border-bottom:1px dashed #c7c7c7;
	}
	
	> .sc-row{
		padding-top:170px;
	}
	.sc-row{
		//margin-bottom:0;
	}
	
	.sc-col{
		float:left;
		@include font-size(13);
		font-weight:200;
		color:#666;
	}


	/* contents */
	.sc-fixed,.sc-flex,.sc-gap{
		max-width:$max-width;
		h2{
			text-align:left;
		}
	}

	/* nav */
	
	


	
	.sc-main{
		background:none !important;
		border-left:1px solid #efefef;
		margin-left:-1px;
		
	}

	/* header */
	.sc-footer{
		border-top:1px solid #efefef;
		background:none !important;
		&-copy{
			max-width:$max-width;
			margin:0 auto;
			padding:18px 0;
			text-align:center;
			@include font-size(16);;
			font-weight:100;
		}
	}
	
	/* gnb */
	.sc-gnb{
		width:100%;
		height:40px;
		padding:0 10px;
		position:fixed;
		top:94px;
		z-index:499;
		overflow:hidden;
		@include transition(all,.2s,ease-in-out);
		
		&.on{
			padding:10px;
			height:260px
		}
		
		a{
			color:#fff;
			opacity:.8;
			line-height:18px;
			@include font-size(14);
			letter-spacing:0;
		}
		
		.sc-nav-item{
			vertical-align:top;
			width:(100%/8);
			a{
				background:none;
				:hover{
					background:none;
				}
			}
		}
		
		.sc-dropdown{
			display:block;
			position:static;
		}
		
		.sc-dropdown-has-arrow ul:before{
			display:none;
		}
		
		.sc-list{
			background:none;
			border:none;
			li{
				&:hover{
					background:none;
				}
				a{
					padding:1px 20px;
					//color:#FFD9B6;
					@include font-size(11);
					&:hover{
						color:#fff;
					}
				}
			}
		}
		
		.sc-nav-toggle .icon-bar{
			background-color:#FFF3EA;
		}
	}

	/* code */
	code{
	  font-family:Consolas,Courier,monospace;;
	  font-weight:400;
	  line-height:21px;
	  letter-spacing:-0.05em;
	  color:#333;
	}

	
	.code-box ,.hljs,pre{
		background:#FFF3EA !important;
	}
	.code-box{
		margin-top:30px;
		margin-bottom:50px;
		padding:30px 20px !important;
		overflow-x:auto;
		@include font-size(13);
		
	}
	.hljs{
		max-width:$max-width;
		margin:0 auto;
	}
	
	.code-example{
		@include clr();
		padding:20px 0;
		.sc-row{
			//margin-bottom:0;
			&:last-child{
				margin-bottom:0;
			}
		}
	}

	/* dropdown */
	#sc-modules-dropdown{
		 .sc-dropdown{
			//display:block;
			position:static;
			width:auto;
			ul{
				position:static;
				li{
					
				}
			}
		}
	}
	/* selectbox */
	#sc-modules-selectbox{
		.sc-selectbox{
			ul{
				position:static;
			}
		}
	}
	/* modal */
	#sc-modules-modal{
		.sc-modal{
			box-shadow:none;
		}
	}
	
	/* button */
	//#sc-elements-button{
		[class*=sc-group]>button span{
			//outline:1px solid #fff;
		}
//	}

	/* image */
	.sc-image{
		padding:30px;
		min-height:87px;
		i{
			@include font-size(30);
		}
	}

	form{
		padding:0;
	}

	/* demo */
	.demo [class*=sc-col-]{
		background:#EFC0A1;;
		&:nth-child(2n){
			background:#FFD9B6;
		}
		//border:1px solid #000;
		text-align:center;
		//@include font-size(12);
		//font-weight:300;
	}

	

	.demo [class*=sc-col-]::after{
		content:attr(class);
		margin:20px;
		@include font-size(12);
		font-weight:700;
		display:block;
		//min-height:80px;
		line-height:16px;
		text-align:left
	}

	.demo [class*=sc-group-]{
		>*{
			background:#EFC0A1;
			&:nth-child(2n){
				background:#FFD9B6;
			}
			//border: 1px solid #d2d2d2;;
			text-align: center;
			&::before{
				content:"box";
				font-weight:700;
				@include font-size(12);
				text-align:left;
				display:block;
				margin:10px 20px 10px;
				min-height:50px;
			}
		}
	}

	.sc-image-background--item{
		padding-left:0;
		padding-right:0;
	}

	#sc-elements-color{
		
		[class*=sc-btn]{
			border-radius:0;
		}
	}
	
	.sc-nav-vertical{
		width:25%
	}


}

