// _grid-group.scss

/* group box */
@for $i from 2 through $col-total-num {
	@for $j from 1 through ($i)-1{
		@for $k from 1 through ($i)-1 {
			.sc-col-#{$i}-#{$j}-#{$k}{
				@include clr();
				width:100%;
				&>*{
					float:left;
					width:(($col-width)/$i)/$col-width*100%;
				}
				&>:nth-child(#{$j}){
					width:((980/$i)*$k)/980*100%;
				}
			}
		}
	}
}

/* group box with gap */
@for $i from 1 through $col-total-num {
	@for $j from 1 through ($i)-1{
		@for $k from 1 through ($i)-1 {
			.sc-col-#{$i}-#{$j}-#{$k}{
				&.sc-col-gap{
					&>*{
						&:first-child{
							margin-left:0 !important
						}
						margin-left:($gap/($col-width))*100%;
						width:((($col-width)-($gap*(($i)-($k))))/$i)/$col-width*100%;
					}
					&>:nth-child(#{$j}){
						width:(((($col-width)-($gap*(($i)-($k))))/$i)*$k)/980*100%;
					}
				}
			}
		}
	}
}