//  _font.scss

/* _font
---------------------------------------------------------------------------------------*/
@font-face {
  font-family:'Nanum Barun Gothic';
  font-style:normal;
  font-weight:200;
  src:local('Nanum Barun Gothic UltraLight'), local('Nanum Barun Gothic-UltraLight'), local('NanumBarunGothic UltraLight');
  src:url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicultralight.eot);
  src:url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicultralight.eot?#iefix) format('embedded-opentype'),
       url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicultralight.woff) format('woff'),
       url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicultralight.ttf) format('truetype');
}

@font-face {
  font-family:'Nanum Barun Gothic';
  font-style:normal;
  font-weight:300;
  src:local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
  src:url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothiclight.eot);
  src:url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothiclight.eot?#iefix) format('embedded-opentype'),
       url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothiclight.woff) format('woff'),
       url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothiclight.ttf) format('truetype');
}

@font-face {
  font-family:'Nanum Barun Gothic';
  font-style:normal;
  font-weight:400;
  src:local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src:url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicregular.eot);
  src:url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicregular.eot?#iefix) format('embedded-opentype'),
       url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicregular.woff) format('woff'),
       url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicregular.ttf) format('truetype');
}

@font-face {
  font-family:'Nanum Barun Gothic';
  font-style:normal;
  font-weight:700;
  src:local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src:url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicbold.eot);
  src:url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicbold.eot?#iefix) format('embedded-opentype'),
       url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicbold.woff) format('woff'),
       url(http://code.toz.co.kr/asset/fonts/nanumbarun/nanumbarungothicbold.ttf) format('truetype');
}

