// _container.scss

.sc-outer{
    padding:30px 20px;

    @include min-screen($screen-medium){
        padding:60px 0 80px
    }
    &:nth-child(2n-1){
        background:#f5f5f5;
    }
}


/* max width */
.sc-inner{
	max-width:$max-width;
	margin:0 auto;
}

