// _form.scss

.sc-form{
   
}

//
.sc-form{
	//width:100%;
	padding:20px;
	.sc-row{
		&>[class*=sc-col]{
			&:last-child{
				margin-bottom:0;
				
			}
		}
	}
	
	.sc-input{
		margin-bottom:10px;
	}
	.sc-title-h4{
		padding-bottom:20px;
		margin-bottom:20px;
		border-bottom:1px solid #dadada;
	}
	
	.sc-select-native{
		display:block;
	}
	
	label{
		margin-top:10px;
		font-weight:bold;
	}
	
	.sc-btn{
		margin-top:7px;
	
	}
	
	&>dl{
		@include clr();
		&>dt{
			float:left;
			display:table-cell;
			width:15%;
			padding:10px 0 0 10px;
			margin-right:0;
			box-sizing:border-box;
			font-weight:500;
		}
		&>dd{
			float:left;
			display:table-cell;
			width:85%;
			input[type=text],input[type=number]{
				width:100%;
				box-sizing:border-box;
			}
			&:last-child{
				.sc-input{margin-bottom:0;}
			}
		}
	}

}

.sc-input-cell{
	display:block;
	@include clr();
	&>label{
		margin-top:0;
		float:left;
		display:table-cell;
		width:15%;
		padding:10px 0 0 10px;
		margin-right:0;
		box-sizing:border-box;
		font-weight:500;
	}
	
	&>.sc-input,&>[class*=sc-input]{
		float:left;
		display:table-cell;
		width:85%;
		margin-bottom:10px;
		input[type=text],input[type=number]{
			box-sizing:border-box;
		}
		&:last-child{
			.sc-input{margin-bottom:0;}
		}
	}
}

// label
label{
	display:inline-block;
	//font-family:$base-font-form;
}
.sc-input-group{
	display:block;
	//margin-bottom:15px;
	@include clr();
}

.sc-input-group--address{
	.sc-input{
		&:nth-child(1){
			float:left;
			width:80%;
			&>input{
				display:block;
				width:99%;
			}
		}
		&:nth-child(2){
			width:20%;
		}
	}
}
.sc-input-group--email{
	.sc-input{
	
		float:left;
		
		&:nth-child(1){
			width:47.5%;
			&>input{
				display:block;
				width:99%;
			}
		}
		&:nth-child(2){
			width:5%;
		}
		&:nth-child(3){
			width:47.5%;
			.sc-selectbox-native{
				width:99%;
			}
		}
	}
	
}
.sc-input-email-mark{
	display:inline-block;
	margin:10px 0;
	text-align:center;
}