// _image.scss

img{
	max-width:100%;
	height: auto;
	display:block;
}

.sc-image{
	//min-height:87px;
	//margin-bottom:20px;
	background:$color-image-background;
	text-align:center;
	position:relative;
	i{
		color:$color-image;
		@include font-size(30);
		color:#bbb;
		padding:30px 0;
/* 		position:absolute;
		top:50%;
		left:50%;
		margin-top:-15px;
		margin-left:-16px;
 */
	}
}

.sc-image-round,.sc-border-round{
	border-radius:5px;
}

.sc-image-circle,.sc-border-circle{
	border-radius:100px;
}

.sc-image-outline,.sc-border-outline{
	border:1px solid #fff;
	outline:1px solid $color-image-outline;
}