// _paragraph.scss

.sc-paragraph{
	
	word-break:break-all;

	.sc-paragraph-divide{
		margin-bottom:20px;
		&:last-child{
			margin-bottom:0;
		}
	}
	.sc-paragraph-title{
		//@include font-size(16);
		margin-bottom:10px;
		font-weight:bold;
		line-height:19px;
	}
	.sc-paragraph-describe{
		line-height:24px;
	}

	.sc-image{
		margin:20px 0;
	}
	
	.sc-input{
		padding:10px 0;
	}
	.sc-paragraph-tag{
		@include clr();
		a{
			float:left;
			margin-right:10px;
			&:last-child{
				margin-right:0;
			}
		}
	}
	
}