// _select.scss


$select-fill-color : #BA365C;

select{
	font-family:$base-font-family;
	margin:0;

}
.sc-select{
	//display:none;
	display:inline-block;
	text-align:left;
	position:relative;
	vertical-align:top;
	&.on{
		display:block;
	}

	.sc-input{
		float:left;
	}

	[class*=sc-col-]{
		margin-bottom:0;
	}
}



.sc-select-click{
	@include clr();
	&+ul{
		display:none;
		position:absolute;
		width:99%;
		&.on{
			display:block;
		}
	}
}

.sc-select-arrow{
	margin-top:0 !important;
	float:right;
	width:30px;
	height:38px;
	cursor:pointer;
	//border:1px solid $color-select-border;
	
	//background:$color-select-background;
	i{
		color:#fff;
	}
}

/* select for round */
.sc-select-round{
	.sc-input{
		&>input{
			border-top-left-radius:$base-border-radius;
			border-bottom-left-radius:$base-border-radius;
			border-right:none;
			border-top-right-radius:0;
			border-bottom-right-radius:0;
		}
	}
	
	.sc-select-arrow{
		
		border-top-right-radius:$base-border-radius;
		border-bottom-right-radius:$base-border-radius;
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		text-align:center;
	}
	.sc-select-click{
		&+ul{
			border-radius:$base-border-radius;
		}
	}
}


// select for native
.sc-select-native{

	min-width:80px;
	position:relative;
	border:1px solid $base-form-border-color;
	overflow:hidden;
	background:#fff;
	vertical-align:top;
	border-radius:$base-border-radius;
	&:before{
		content:"";
		display:block;
		width:1px;
		height:36px;
		position:absolute;
		right:30px;
		top:0;
		border-right:1px solid $base-form-border-color
		
	}
	
	.sc-select-label{
		margin-top:-8px;
		padding:0 10px;
		//width:120px;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		//@include font-size(14);
		font-weight:normal;
		
		color:#b2b2b2;
		position:absolute;
		top:50%;
		//left:2%;
		
	}
	.sc-select-list{
		cursor:pointer;
		height:35px;
		width:100%;
		border:none;
		opacity:0;
		filter: alpha(opacity=0);
		-webkit-appearance: menulist-button
		
	}
	.sc-select-list option{
		padding:8px 0
		
	}
	/*.sc-btn-select-down{
		display:inline-block;
		width:12px;
		height:7px;
		position:absolute;
		right:14px;
		top:30%;
		color:$select-fill-color;
		
	}*/
	
	
	.sc-select-arrow{
		width:auto;
		height:auto;
		position:absolute;
		right:11px;
		top:10px;
		color:$color-select;
		border:none;
		background:none;
		i{
			color:$color-select;
		}
	}
	
}