// main.scss

[data-page*=main]{
	
	.left-content,.middle-content,.aside-content{
		//margin:50px 0 100px;
		//height:79vh;
	}

	.sc-panel{
		margin-bottom:20px;
		border:1px solid rgba(0, 0, 0, 0);
		border-color:#d3e0e9;
		border-radius:4px;
		box-shadow:0 1px 1px rgba(0, 0, 0, 0.05);

	}
	
	
	
	.sc-profile-background{
		border-right:none;
		//min-height:150px;
		i{
			padding:100px 0;
		}
	}

	.sc-profile-photo{
		background:#9B928B;
		i{
			color:#fff;
			padding:50px 0;
		}
	}

	.top-contents{
		&.sc-panel{
			
			border-top-left-radius:0;
			border-top-right-radius:0;
		}
		.sc-profile-photo{
			width:122px;
			margin-top: -88px;
			border:3px solid #fff;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
			
		}

	}

	.left-contents{
		.sc-left-one{
			padding:0;
		}

		.sc-left-two{
			//padding:20px;
		}

		.sc-left-three{
			.sc-thumb-list li{
				margin-bottom:3px;
			}
			.sc-image{
				min-height:initial;
				i{
					position:static;
					margin:0;
					@include font-size(23);
					padding:15px 0;
				}
			}
		}
		.sc-left-four{
			.sc-image{
				margin-bottom:20px
			}
		}
	}

	.middle-contents{
		background:#fff;
		.sc-row{
			padding:20px 0;
			margin-bottom:20px;
			border-bottom:1px solid #d3e0e9;
			&:last-child{
				
				margin-bottom:0;
				border-bottom:none;
			}
		}
		.sc-image{
			display:inline-block;
			margin:0;
			width:auto;
			height:auto;
			text-align:center;
			border:none;
			box-shadow:none;
			i{
				padding:9px;
				position:static;
				@include font-size(15);
				margin-left:0;
				margin-top:0;
			}
		}
		
	}

	.aside-content{
		//background:#fff;

		.sc-image{
			margin-bottom:20px;
			i{
				position:static;
				margin:0;
				padding:100px 0;
			}
		}
	}
	
}