// ._color-italy.scss


/***********************************************
 italy theme
 ***********************************************/

$color-theme-1:#009246;
$color-theme-2:#D2232C;
$color-theme-3:#E68AA2;
$color-theme-4:#F6955E;
$color-theme-5:#F0C529;
$color-theme-6:#AC5313;
$color-theme-7:#BC376A;

