// logo.scss

// logo
.sc-logo{
	//margin:16px 0 0 15px;
	margin-bottom:0 !important;
	padding:0;
	@include min-screen($screen-medium){
		padding-top:12px;
	}
	position:relative;
	text-align:center;
	z-index:1;
	h1{
		@include font-size(20);
	}
	a{
		color:#fff
	}
	
	img{
		width:181px;
	}
    
    // logo vertical
	&.sc-logo-vertical{
	    @include min-screen($screen-medium){
            float:left;
            text-align:center;
        }
	}

}