// _image-background.scss

// wide image background
.sc-image-background{
	//background:$color-oldrose;
}

.sc-image-background--1{
	background:#009246;
}
.sc-image-background--2{
	background:#D2232C;
}
.sc-image-background--3{
	background:#E68AA2;
}
.sc-image-background--4{
	background:#F6955E;
}
.sc-image-background--5{
	background:#F0C529;
}
.sc-image-background--6{
	background:#AC5313;
}
.sc-image-background--7{
	background:#BC376A;
}

.sc-image-background--item{
	min-height:100px;
	max-width:$max-width;
	margin:0 auto;
	padding:20px;
	padding-top:40px;
	padding-bottom:40px;

	color:#fff;
	position:relative;
}