// image.scss

.sc-thumb-list{
	//max-width:$max-width;
	//margin-bottom:50px;
	.sc-image{
		min-height:60px;/*
		vertical-align:middle;
		i{
			@include font-size(50);
			vertical-align:middle;
			margin-top:-25px;
			margin-left:-26px;
		}*/
	}
}